<h1>Contact List</h1>

<ul class="menu">
  <div class="form-new-contact">
    <input type="text" id="name" placeholder="name"><br>
    <input type="text" id="email" placeholder="email"><br>
    <button class="new">New<br>
  </div><hr/>
  <button class="list">List</button><br>
  <input type="text" id="id" placeholder="contact id"><br>
  <button class="show">Show</button><br>
  <input type="text" id="search" placeholder="search"><br>
  <button class="search">Search</button>
  <!-- <input type="text" id="update"><br><button class="update">Update</button> -->
</ul>

<h4>Contacts</h4><hr/>
<div class="contact-list">
</div>